@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* NAV BAR STYLES */
.nav-bar{
    position: fixed;
    /* background: rgb(49, 44, 70); */
    padding: 30px 0;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.nav-bar.sticky{
    background: rgb(49, 44, 70);
    padding: 30px 0;
}


.nav-bar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.nav-bar .logo a span{
    color: rgb(49, 44, 70);
    transition: all 0.3s ease;
}

.nav-bar.sticky a span{
    color: #fff;
}

.nav-bar .menu li{
    list-style: none;
    display: inline-block;
}

.nav-bar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.nav-bar .menu li a:hover{
    color: rgb(49, 44, 70);
    transition: all 0.3s ease;
}

.nav-bar.sticky .menu li a:hover{
    color: gray ;
}


/* MENU BUTTON STYLES */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 40px;
    background: rgb(49, 44, 70);
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/* HOME SECTION STYLES */
.Home{
    display: flex;
    background: url(./IMAGES/IMG_20200301_114458-removebg-preview__2_-removebg-preview.png) no-repeat right;
    background-color: rgb(133, 133, 165);
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.Home .max-width{
    margin: auto 0 auto 20px;
}

.Home .Home-content .Text-1{
    font-size: 27px;
}

.Home .Home-content .Text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -5px
}

.Home .Home-content .Text-3{
    font-size: 40px;
    margin: 5px 0;
}

.Home .Home-content .Text-3 span{
    color: rgb(49, 44, 70);
    font-weight: 500;
}

.Home .Home-content a{
    display: inline-block;
    font-size: 25px;
    background-color: rgb(49, 44, 70);
    color: #fff;
    padding: 15px 35px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(49, 44, 70);
    transition: all 0.3s ease;
}

.Home .Home-content a:hover{
    color: rgb(49, 44, 70);
    background: none;
}


/* ALL SIMILAR SECTION STYLES */
section{
    padding: 100px 0;
}

.About, .Service, .skills, .testimonials, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.About .About-content,
.Service .Serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu' sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12;
    left: 50%;
    font-size: 20px;
    color: rgb(133, 133, 165);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* ABOUT SECTION STYLES */
.About .title::after{
    color: #111;
    background: #fff;
    content: "who I am";
}

.About .About-content .left{
    width: 45%;
}

.About .About-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.About .About-content .right{
    width: 55%;
}

.About .About-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.About .About-content .right .text span{
    background: rgb(49, 44, 70);
    padding: 5px;
    color: #fff;
}

.About .About-content .right .text p{
    text-align: justify;
}

.About .About-content .right a{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(49, 44, 70);
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(49, 44, 70);
    transition: all 0.3s ease;
}

.About .About-content .right a:hover{
    color: rgb(49, 44, 70);
    background: none;
}


/* SERVICE SECTION STYLES */
.Service,
.testimonials{
    color: #fff;
    background: rgb(133, 133, 165);
}

.Service .title::before,
.testimonials .title::before{
    background: #fff;
}

.Service .title::after,
.Service .title::after{
    color: #fff;
    background: rgb(133, 133, 165);
    content: "what I provide";
}

.Service .Serv-content .card{
    width: calc(33% - 20px);
    /* check the above out learn more about the calculations */
    background: rgb(80, 71, 122);
    text-align: center;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Service .Serv-content .card:hover{
    background: rgb(49, 44, 70);
}

.Service .Serv-content .card .box{
    transition: all 0.3s ease;
}

.Service .Serv-content .card:hover .box{
    transform: scale(1.05);
}

.Service .Serv-content .card i{
    font-size: 25px;
    color: #fff;
}

.Service .Serv-content .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 5px 0;
}


/* SKILLS SECTION STYLES */
.skills .title::after{
    color: #111;
    content: 'what I know';
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(49, 44, 70);
    color: #fff;
    padding: 5px 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(49, 44, 70);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    color: rgb(49, 44, 70);
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-size: 18px;
    font-weight: 500;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(49, 44, 70);
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 75%;
}

.skills-content .right .bootstrap::before{
    width: 60%;
}

.skills-content .right .js::before{
    width: 70%;
}

.skills-content .right .wordpress::before{
    width: 65%;
}


/* TESTIMONIALS SECTION STYLES */
.testimonials .title::before{
    background: #111;
}

.testimonials .title{
    color: #111;
}

.testimonials .title::after{
    color: #111;
    background: rgb(133, 133, 165);
    content: "Appraisals";
}

.testimonials .carousel .card{
    background: rgb(80, 71, 122);
    border-radius: 5px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.testimonials .carousel .card:hover{
    background: rgb(49, 44, 70);
}

.testimonials .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.testimonials .carousel .card:hover .box{
    transform: scale(1.05);
}

.testimonials .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.testimonials .carousel img{
    height: 300px;
    width:  300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(49, 44, 70);
}

.testimonials .carousel .card:hover img{
    border-color: #fff;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid rgb(49, 44, 70) !important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot.active:hover{
    background: rgb(49, 44, 70) !important;
}


/* CONTACT SECTION STYLES */
.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .column .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(49, 44, 70);
}

.contact .contact-content .info .head{
    font-weight: 600;
}

.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .Name{
   margin-right: 10px; 
}

.contact .right form .email{
   margin-left: 10px; 
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
}

.contact .right form .textarea textarea{
   padding-top: 10px;
   resize: none; 
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(49, 44, 70);
    background: rgb(49, 44, 70);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    background: none;
    color: rgb(49, 44, 70);
}

/* FOOTER SECTION STYLES */
footer{
    background: #111;
    padding: 20px 25px;
    color: #fff;
}

footer span a{
    color: rgb(10, 10, 248);
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

/* stopped at 1:55:00 to be contd later */








/* RESPONSIVE STYLES HERE */
@media (max-width: 1300px){
    .Home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .About .About-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .nav-bar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        /* background: rgb(49, 44, 70); */
        background: rgb(133, 133, 165);
        text-align: center;
        padding-top: 80px;
        /* transition: all 0.3s ease; */
    }

    .nav-bar .menu.active{
        left: 0;
    }

    .nav-bar .menu li{
        display: block;
    }

    .nav-bar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .Home .Home-content .Text-2{
        font-size: 50px;
        margin-left: 0;
    }
    
    .Home .Home-content .Text-3{
        font-size: 35px;
    }

    .Home .Home-content a{
        font-size: 20px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 800px;
    }

    .About .About-content .column{
        width: 100%;
    }

    .About .About-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .About .About-content .right{
        flex: 100%;
    }

    .Service .Serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 20px;
    }

    .Home .Home-content .Text-2{
        font-size: 30px;
    }
    
    .Home .Home-content .Text-3{
        font-size: 20px;
    }

    .Home .Home-content a{
        font-size: 15px;
    }

    .Service .Serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px){
    .Home .Home-content .Text-2{
        font-size: 20px;
        margin-left: 0;
    }
    
    .Home .Home-content .Text-3{
        font-size: 10px;
    }
}
